
*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

Matchismo.xcodeproj/project.xcworkspace/xcuserdata/iRaseshsMac.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

*.plist

Matchismo/.DS_Store

Matchismo.xcodeproj/xcuserdata/dhwanidesai.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
